* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-navbar {
    height: 4rem;
    width: 100%;
    background: rgb(40, 166, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.top-contact-section {
    color: white;
}

.top-contact-section ul {
    display: flex;
    gap: 20px;
}

.top-contact-section ul li {
    text-decoration: none;
    list-style: none;
}

.dropdown {
    display: inline-block;
    position: relative;

}

.dropbtn {
    padding: 10px 30px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;


}

.dropdown-section {
    display: none;
    position: absolute;
    min-width: 120px;
    background: red;
    z-index: 1000;
}

.dropdown-section a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(28, 27, 27);
    background: #e7e7e7;


}

.dropdown-section a:hover {
    background: #d6d6d6;

}

.dropdown:hover .dropdown-section {
    display: block;
}

@media (max-width:1000px){
    .money-section{
        gap:30px;
        
    }
    .money{
          padding:5px;
        display:flex;
        gap:10px;
    }
        .full-work{
        padding:10px;
           display:flex !important;
    gap:10px !important;
    }
}
@media (max-width:768px) {
    .menu {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: greenyellow;
        text-align: center;
        top: 20%;
        padding: 10px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .side {
        display: block !important;
    }

    .menu.active {
        display: block;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .hero1 {
        padding: 0px 20px !important;
    }

    .hero1 h1 {
        font-size: 1.5rem;
    }

    .hero1-btn button {
        padding: 0px 10px;
    }
    .money-section{
         gap:20px !important;
    }

    .money {
        height: 4rem !important;
        width: 10rem;
        display:flex;
       
    }
    
    .money-icon .fa-solid{
        font-size:20px;
    }
    .money-content p{
        font-size:12px;
    }
    .product-heading span{
        padding:2px 8px !important;
        font-size:10px;
    }
    .full-work{
        padding:10px;
           display:flex !important;
    gap:10px !important;
    }
    .work{
    height:8rem !important;
    width:15rem;
    border:1px solid green;
 
    
}


}

/* 600px  */
@media (max-width:600px) {
    .top-navbar {
        height: 2.2rem;
        padding: 0;
    }

    .top-contact-section ul li {
        font-size: 0.7rem;
    }

    .dropbtn {
        padding: 0px 0px;
        font-size: 0.9rem;
    }

    .dropdown-section {
        min-width: 60px;
    }

    .navbar {
        height: 3rem !important;
    }

    .navbar .logo h1 {
        font-size: 1rem !important;
    }

    .menu {
        top: 12%;
    }

    .nav-end input {
        padding: 0px 5px;
    }
    .money{
        padding:5px;
        display:flex;
        gap:10px;
    }
}

@media (max-width:400px) {
    .nav-end {
        gap: 1px !important;
    }
}

/* NAVBAR */
.navbar {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
}

.logo span {
    color: rgb(151, 251, 3)
}

.menu ul {
    display: flex;
    gap: 20px;
}

.menu ul li {
    position: relative;

}

.menu ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: red;
    transition: all 0.2s ease;
}

.menu ul li:hover a::before {
    width: 100%;
}

.nav-end {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-magnifying-glass {
    position: relative;
    right: 30px;
    cursor: pointer;
}

.nav-end input {
    border: 1px solid #111;
}


/* HERO-SECTION */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7e7e7;
    padding: 0px 2rem;

}

.hero1 {
    padding: 0 2rem;
}

.hero1 h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hero1-btn {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.hero1-btn button {
    padding: 5px 10px !important;
    width: 9rem;
}

.btn1 {
    background: rgb(40, 166, 40);
    color: white;
}

.btn2 {
    color: rgb(40, 166, 40);
    border: 2px solid rgb(40, 166, 40);

}

.hero2 {
    overflow: hidden;
    object-fit: cover;
}

.hero2:hover img {
    scale: 1.05;
    transition: all ease-in-out 1s !important;
}


/* payement-section */
.money-section {
    height: 8rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #fff;


}

.money {
    
    height: 6rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #eeeeee;
    border-radius: 10px;


}

.money-icon .fa-solid {
    color: rgb(40, 166, 40);
}


/* PRODUECT---SECTION */
.product-section{
    min-height:100vh;
    width:100%;
    
}
.product-heading{
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.span-section{
    display:flex;
    gap:20px;
    justify-content:center;
}
.product-heading span{ 
    border-radius:25px;
    padding:5px 15px;
    background:#e7e7e7;
    color:rgb(0, 0, 0)  
}
.one-span{
    background:rgb(40, 166, 40) !important;
    color:white !important;
}
.product-cards{
    
    min-height:90%;
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows:350px;
    padding:1rem;
    gap:20px;
}
.card{
    border:1px solid #a8a7a7;
    position:relative;
    border-radius:10px;
    cursor:pointer;
    transition: all 0.6s ease-in-out
}
.card:hover{
    scale:1.05
}
.card-pic{
    height:13rem;
    width:100%;
    
}
.card-pic img{
    background-size:cover;
    height:100%;
    width:100%;
   
    overflow:hidden;
   
    
    
}
.card-pic::before{
    content:"18% OFF";
    position:absolute;
    top:10px;
    left:0;
    height:40px;
    width:100px;
    background:rgb(40, 166, 40);
    padding:10px;
    color:#fff;
    margin:0 10px;
    border-radius:20px 0 0 20px;
    font-weight:600;
    z-index:1000;
}
.card-pic img:hover{
    scale:1.03;
    transition: all ease 1s !important;
}
.card-content{
    padding:10px 10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.card-content-icon .fa-solid{
    color:rgb(255, 179, 0)
}
.card-content-icon .fa-regular{
    color: rgb(255, 179, 0)
}

/* full work */

.full-work{
    border:1px solid red;
    height:15rem;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.work{
    height:13rem;
    width:35rem;
    
    
}